body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Consolas, "Courier New", monospace;
}

.sidebar-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    overflow-y: auto;
    z-index: 10;
    background: #fff;
}

.map-container {
    height: 100vh;
    width: 100%;
    z-index: 0;
}

.hospital-card {
  display: flex;
  width: 100%;
  padding: 10px;
}

.hospital-description {
  padding: 0 10px;
}
